SPOTIFY_LYRICS_API_URL=http://localhost:9000

# Genius API
GENIUS_CLIENT_ID=XXXXXX
GENIUS_CLIENT_SECRET=XXXXXX
GENIUS_ACCESS_TOKEN=-XXXXXX

# Spotify API
SPOTIFY_CLIENT_ID=XXXXXX
SPOTIFY_CLIENT_SECRET=XXXXXX
SPOTIFY_DC=XXXXXX